{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block 'head' %}
    
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>{% block 'title' %}
            {% endblock %}</title>
  </head>
  <div class="text-center container-fluid">
    <img src="/static/img/principal.jpg"  style="width: 100%;" alt="">
  </div>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="/static/img/menu.png" height="30px" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for i in categorias %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'categoria' i.id%}">{{i}}</a>
            {%endfor%}
          </li>
        </ul>

      </div>
    </nav>
</header>
  <body class="fundo">
    {% block 'body' %}
    
    {% endblock %}
   <!-- Footer -->

<!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>