:root{
    --primeira : orange;
    --segundaria : black;
    --terceira : #fff;
}

.menu {
    background-color: var(--terceira);
    justify-content: center;
}

.card {
    margin: 5px;
}

.base {
    background-color: var(--primeira);
    color: var(--terceira);
}

.preco {
    color: green;
}
